{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
</head>
<body>
    {% block content %}
    
    {% endblock %}
</body>
</html>