{% extends "application.html" %}
{% block content %}
    <form action="create", method="POST">
        {%csrf_token%}
        name:<input name="name" type="text">
        <button type="submit">Submit</button>
    </form>
{% endblock %}
