{% extends "application.html" %}
{% block content %}
  {%for emp in employees %}
    <div><label>Name</label> {{emp.name}}</div>
    <div><label>VC</label> {{emp.voice_clarity}}</div>
    <div><label>Voc</label> {{emp.vocabulary}}</div>
    <div><label>Flu</label> {{emp.fluency}}</div>
  {% endfor %}
  
{% endblock %}
